.l-main-container {height:100%;}

.l-home .l-col.first {background:none;}


.nav-top li ul li a, .nav-top li ul li a:visited {width:180px;}

.l-header {background-image:url(../images/hears.gif); zoom:1;}
.b-head-top {background-image:url(../images/shadow-nav.gif);}





